@import 'variables';

html {
  background: @cBlack;
  height: 100%;
  width: 100%;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-overflow-scrolling: touch;
  body {
    height: 100%;
    width: 100%;
    font: 400 14px / 1.6 'Proxima Nova', 'Arial', sans-serif;
    letter-spacing: .01em;
    color: @cBlack;
    [data-aos="fade-right"] {
      transform: translate(-2%);
    }
    [data-aos="fade-left"] {
      transform: translate(2%);
    }
    [data-aos="fade-down"] {
      transform: translateY(-10%);
    }
    [data-aos="fade-up"] {
      transform: translateY(10%);
    }
    [data-aos=slide-up] {
      transform: translateY(10%);
    }
    @media screen {
      @media (min-width: 641px) {
        .m-visible {
          display: none;
        }
      }
      @media (max-width: 640px) {
        .m-hidden {
          display: none;
        }
      }
    }
  }
}

@{documentClass} {
  background: @cWhite;
  overflow: hidden;
  [class*="--section"] {
    padding: 6.65em 0;
    box-sizing: border-box;
    &[class*="-border"] {
      border-bottom: 10px solid @cYellow;
    }
    &[class*="-background"] {
      background-color: lighten(@cGray, 20%);
    }
    @media screen {
      @media (max-width: 640px) {
        padding: 4em 0;
      }
    }
  }
}

@import 'base/typography';
@import 'base/button';
@import 'base/figure';
@import 'layout/grid';
@import 'layout/footer';
@import 'layout/carousel';
@import 'layout/parallax';

@import 'section/header';
@import 'section/plans';
@import 'section/learning-center';
@import 'section/testimonials';
@import 'section/promo';
