/* 
  ==================================================
    Figure
  --------------------------------------------------
    Dependencies:
      - variables
  ==================================================
*/

  .video--preview {
    display: block;
    margin: 0 15px;
    .preview {
      background: no-repeat scroll center / cover lighten(@cGray, 20%);
      position: relative;
      z-index: 3;
      overflow: hidden;
      padding: 0 0 78%;
      border-radius: 2px;
      &:before {
        background: fade(@cBlackBlue, 50%);
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .link {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        .ico {
          position: absolute;
          bottom: 1em;
          left: 1em;
          font-size: 20px;
          padding: .5em .4em .5em .6em;
          color: @cYellow;
          border: 1px solid @cYellow;
          border-radius: 50%;
        }
      }
    }
    .description {
      margin: 1em 0;
      .title {
        display: block;
        margin: 0 0 1.5em;
        text-transform: uppercase;
      }
    }
  }
  .platform {
    .ico {
      color: @cYellowDark;
      font-size: 3.2em;
      line-height: 1;
    }
    .title {
      b {
        text-transform: uppercase;
      }
      .sub-title {
        line-height: 1.3;
      }
    }
    &.vertical {
      margin: 0 auto;
      max-width: 186px;
      text-align: center;
      .ico, .title {
        display: block;
      }
        .ico {
          margin: 1.64em 0;
        }
        .title {
          .sub-title {
            margin: 1.75em 0 0;
          }
        }
    }
    &.horizontal {
      margin: 5.8em 0 0;
      .ico, .title {
        display: inline-block;
        vertical-align: middle;
      }
        .ico {
          margin: 0 .5em 0 0;
        }
        .title {
          margin: .5em 0;
        }
      @media screen {
        @media (max-width: 640px) {
          margin-top: 3em;
        }
      }
    }
  }
